@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');


* {
    padding: 0%;
    margin: 0%;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f00;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 500px;
}

.bola {
    width: 200px;
    height: 200px;
    background-color: rgb(192, 100, 100);
    border-radius: 100%;
    border: black 4px solid;
    margin-top: -80px;
    position: absolute;
}
.bola img{
    margin-left: -53px;
    width: 300px;
}

.fundo{
    position: relative;
    background-color: #fff;
    width: 400px;
    height: 700px;
    display: flex;
    justify-content: center;
    border: #000 5px solid;
    border-radius: 50px;
}

#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#nome {
    border: none;
    background-color: #b3b3b3;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}
 #email {
    border: none;
    background-color: #b3b3b3;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
 }
#senha {
    border: none;
    background-color: #b3b3b3;
    height: 40px;
    border-radius: 5px;
    
}
#entrar {
    margin-top: 40px;
    font-size: 25px;
    border-radius: 15px;
    border: rgb(0, 0, 0) 5px solid;
    background-color: #f00;
    color: #fff;
    padding: 10px;
    box-shadow: -5px 5px 0px 2px rgb(0, 0, 0);
}

#a {
align-self: center;
}

a{
    text-decoration: none;
    color: #ffff;
}
